name: financeapp
description: A modern Finance Mate app with purple-white theme

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  google_fonts: ^6.2.1

flutter:
  uses-material-design: true

  assets:
    - assets/images/
